// -------- Colors -----------
@primary-color: #2086c1;

// Form
@form-item-margin-bottom: 12px;

// Buttons
@btn-height-base: 30px;

// Input
@input-padding-vertical-base: 3px;

// Menu
@menu-item-height: 40px;
@menu-collapsed-width: 100px;

// dark theme
@menu-dark-bg: #001529;
@menu-dark-submenu-bg: #000c17;

// Breadcrumb
@breadcrumb-base-color: #fff;
@breadcrumb-last-item-color: #fff;
@breadcrumb-link-color: #fff;
@breadcrumb-separator-color: #fff;


// PageHeader
@page-header-padding: 16px;
@page-header-padding-vertical: 8px;
@page-header-padding-breadcrumb: 12px;
@page-header-back-color: #000;
