.levi-table {
    &__header {
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2px;
        padding: 0 16px;
        box-shadow: 0 0 5px 1px rgba(0, 21, 41, 0.08);
    }
    &__body {

    }
}
